{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ['*.ts'],
      "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
      "parserOptions": { "project": ["./tsconfig.json"] },
    }
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": [
      2,
      {
        "allowString": false,
        "allowNumber": false
      }
    ]
  },
  "ignorePatterns": ["!.*", "dist", "node_modules"]
}
